@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-black font-raleway;
};

/* Hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}
